// custom css
// support stylus
// check
// node_modules/ringcentral-embeddable-extension-common/src/no-spa/style.styl
// for overides or as example

.rc-upgrade-dom
  z-index 1100
.rc-sync-area
  box-sizing border-box
  margin 0
  padding 0
  width 100%
  padding 4px 11px
  color rgba(0, 0, 0, 0.65)
  line-height 1.5
  background-color #fff
  border 1px solid #d9d9d9
  border-radius 4px
  -webkit-transition all 0.3s
  transition all 0.3s
.rc-third-party-contact-frame
  top 60px
  height calc(100% - 60px)
.rc-contact-panel
  width 100%
  left 0
.rc-contact-panel.rc-hide-to-side
  left -100%
*[class*="ant-"].ant-notification
  z-index 7000